body, h1, h2, h3, h4, h5, h6, p, div, ol, li {
	font-family: $type-sans;
}

h2 {
	font-weight: bold;
}

a:link, a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

tbody th {
	font-weight: 600;
	text-align: left;
}


.logo {
	display: block;
	margin: 0 auto 2rem;
	width: 18rem;
}
.intro {
	margin: 1rem 1rem 0;
	ul {
		list-style-position: inside;
	}
}

nav ul {
	list-style: none;
	margin: 0 auto;
	text-align: center;
	li {
		display: inline-block;
		a:link, a:visited {
				background-color: #edf1f8;
				color: #000 !important;
				display: block;
				padding: .5em 1em;
				text-decoration: none !important;
			}
		a:hover {
				background-color: #507EBF !important;
				color: #fff !important;
			}
	}
}

@media (min-width: 640px) {
	nav ul li a {
		font-weight: bold;
		margin: 0 1em;
	}
}


@media (min-width: 640px) {
	.logo {
		float: left;
		margin: 0 2rem 2rem 0;
	}
}

a:link, a:visited {
	color: $link;
}



header .bg, footer, .section {
	padding: 1rem 2rem;
}


.alt {
	background-color: #f5f9ff;
}


.icon {
	height: auto;
	width: 4rem;
}



footer {
	background-color: $uriblue;
	color: $white;
	
	a:link, a:visited {
		color: $white;
	}

	.by {
		padding: 2rem 0;
		text-align: center;
	}
	.by a:not(last) {
		padding-right: 3rem;
	}

}

.data-info {
	font-size: small;
	font-style: italic;
}

