.scorecard {
	margin: 2rem auto 2rem;
	padding: 2rem 1rem;
	text-align: center;

	.score {
		display: block;
		font-size: 3.5em;
		font-weight: bold;
		span { /* this is a hack to break the text-decoration of links */
			color: $black;
			display: inline-block;
		}
	}



	&.big {
		font-size: 1.125em;
		.score {
			font-size: 4.25em;
		}
	}
	&.bleed {
		max-width: 99% !important;
	}
}

.section .cell a {
	display: block;
}

@media (min-width: 640px) {
	.scorecard {
		max-width: 11em;

		&.big {
			max-width: 15em;
		}
	}
}

@media (min-width: 700px) {
	.scorecard {
		max-width: 17em;

		&.big {
			max-width: 20em;
		}
	}
}

a:link .scorecard .score {
	text-decoration: none;
}


a .scorecard {
	transition: background 0.2s ease-in-out;
}

a:link .scorecard {
	color: $black;
	text-decoration: underline;
}
a:hover .scorecard {
	background-color: #edf1f8;
}

.alt a  .scorecard {
	transition: none;

}
.alt a:link .scorecard {
	background-color: #edf1f8;

}
.alt a:hover .scorecard {
	background-color: #DFE5F0;
}

// 
// .alt .scorecard {
// 	background: #edf1f8;
// }
// .alt .scorecard:hover {
// 	background: #ffffff;
// }

