/* ==============================
   COLORS
   ============================== */

$uriblue: #002147;
$keaneyblue: #2277b3;


$black: #000000;
$darkgrey: #404040;
$midgrey: #999999;
$grey: #dddddd;
$lightgrey: #fafafa;
$white: #ffffff;


$blue: #468ee5;
$lightblue: #c7ddf7;

$green: #7ed321;
$lightgreen: #d8f1bc;

$yellow: #f8e71c;
$lightyellow: #fcf8b8;

$orange: #f6a623;
$lightorange: #fce4bd;

$red: #d0011b;
$lightred: #f1b3ba; // yeah, I know... pink

$purple: #9012fe;
$lightpurple: #ddb8fe; // also pretty pink, FWIW


$link: #0047c2;
$linkhover: #003287;



/* ==============================
   FAWNTS
   ============================== */

@import url("https://fonts.googleapis.com/css?family=Mukta+Mahee:400,600,800") all;

$type-sans: 'Mukta Mahee', Helvetica, sans-serif;
$type-serif: 'Georgia', serif;

$maxtypewidth: 750px;


/* ==============================
   EXTEND
   ============================== */

%transparent-background-image {
  content: "";
	background-repeat: no-repeat;
	background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
%transition-all {
	transition: all 0.2s ease-in-out;
}


@import 'page';
@import 'scorecard';
@import 'sections';

