body, h5, h6, p, div, ol, li {
	font-family: $type-sans;
}

h1, h2, h3, h4 {
	font-family: $type-display;
}



a:link, a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

tbody th {
	font-weight: 600;
	text-align: left;
}

header {
	margin-bottom: 2rem;
 .bg {
		position: relative;
	}
	a:link, a:visited {
		@extend %transition-all;
		color: $black;
		text-decoration: none;
		text-transform: uppercase;
	}
	a:hover {
		color: $red;
	}
	h1 {
		font-family: $type-display;
		font-size: 10vw;
		line-height: .6em;
		text-align: center;
		span {
			font-family: $type-sans;
			font-size: .5em;
			font-weight: 400;
			letter-spacing: .5em;
			margin: 0 auto;
			padding-left: .5em;
			text-align: center;
			white-space: nowrap;
		}
	}
	
}
@media (min-width: 640px) {
}



footer {
	padding: 4rem 2rem;
}

footer {
	background-color: $uriblue;
	color: $white;
	
	a:link, a:visited {
		color: $white;
	}

	.by {
		padding: 2rem 0;
		text-align: center;
	}
	.by a:not(last) {
		padding-right: 3rem;
	}

}

.data-info {
	font-size: small;
	font-style: italic;
}

