.scorecard {
	max-width: 15rem;
	position: relative;
	text-align: center;

	.score {
		background-color: #eee;
		border-radius: 50%;
		color: #fff;
		display: inline-block;
		font-size: 2.5em;
		font-weight: bold;
		line-height: 10rem;
		margin: 0 auto;
		position: relative;
		height: 10rem;
		width: 10rem;
		z-index: 2;
		span { /* this is a hack to break the text-decoration of links */
			display: inline-block;
		}
	}
	
	.qualifier {
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 2px;
		display: block;
		margin: 0 auto;
		padding: .5em;
	}

	&.big {
		font-size: 1.125em;
		.score {
			font-size: 3em;
			line-height: 15rem;
			height: 15rem;
			width: 15rem;
		}
	}
	&.bleed {
		max-width: 99% !important;
	}
	
}

a:link .scorecard .score {
	text-decoration: none;
}